<div
  class="form-container  text-center"
  *ngIf="user$ | async as user"
>
  <h1>Actualización del perfil</h1>
  <div class="profile-image">
    <img
      width="130"
      height="130"
      class="margin-top mat-elevation-z1"
      [src]="user.photoURL ?? '../../../../assets/img/image-placeholder.png'"
    />
    
    <button mat-mini-fab (click)="inputField.click()" >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadFile($event, user)" />

  <form class="formulario" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Last Name"
          
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Display Name"
        />
      </mat-form-field>
      <mat-form-field >
        <input
          type="number"
          matInput
          formControlName="phone"
          placeholder="Phone"
        />
      </mat-form-field>
    </div>
    <mat-form-field>
      <input
        type="text"
        matInput
        formControlName="address"
        placeholder="Address"
      />
    </mat-form-field>
<br>
    <button type="submit" class="btn" mat-raised-button>
      Save
    </button>
  </form>
</div>