<h1 style="text-align:center;">Registrarte</h1>
<form [formGroup]="signUpForm" (ngSubmit)="submit()">

  <!-- Name -->
  <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="name" autocomplete="off" />
    <mat-error *ngIf="name?.errors?.['required']">
      El nombre es requerido
    </mat-error>
  </mat-form-field>

  <!-- Email -->
  <mat-form-field>
    <input matInput placeholder="Correo electronico" formControlName="email" autocomplete="off" />
    <mat-error *ngIf="email?.errors?.['required']">
      El correo electronico es requerido
    </mat-error>
    <mat-error *ngIf="email?.errors?.['email']">
      Por favor introduzca un correo electronico valido
    </mat-error>
  </mat-form-field>

  <!-- Contraseña -->
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña" formControlName="password" />
    <mat-error *ngIf="password?.errors?.['required']">
      La Contraseña es requerida
    </mat-error>
  </mat-form-field>

  <!-- Confirmar contraseña -->
  <mat-form-field>
    <input matInput type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword" />
    <mat-error *ngIf="confirmPassword?.errors?.['required']">
      Se requiere confirmar la contraseña
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']" style="text-align:center;">
    La contrseña no es igual
  </mat-error>
  <!-- Boton -->
  <div class="center margin-top">
    <button type="submit" mat-raised-button style="background-color: rgb(98, 221, 98);">Registrarte</button>
  </div>
</form>