mat-dialog-content{
  /* background-size: cover; */
  background-image: linear-gradient(to top, rgb(207, 217, 223, 0.4) 0%, rgb(226, 235, 240, 0.4) 100%), url(../../../../assets/img/naturaleza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  font-family:'Montserrat', sans-serif ;
}

.form-contenido{
  background-image: linear-gradient(to right,  rgb(247, 221, 255) 0%,rgb(177, 204, 255));
  width: 100%;
  margin: 4% auto;
  padding: 1em;
  border-radius: 10px;
text-align: center;
font-family:'Montserrat', sans-serif ;
}

.cajas{
  width: 95%;
  margin: 1% auto;
  font-family:inherit ;
}
.cajas mat-label{
  color: black;
}

.is-invalid{
  border: 1px solid #ff0000a6;
}

.advertencia{

font-weight: 600;
  color: #ff0000a6;
}
@media (max-width:768px) {
  .form-contenido {

    width: 80%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;

  }
}

@media (max-width:320px) {
  .form-contenido{

    width: 90%;
    margin: 4% auto;
    padding: 1em;
    border-radius: 10px;
  text-align: center;

  }
}