<mat-toolbar class="barra">
  Foro
  <ng-container *ngIf="user$| async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
    <img
      width="30"
      height="30"
      class="profile-image-toolbar"
      [src]="user.photoURL ?? '../../../../assets/img/image-placeholder.png'"
    />
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
  <button mat-menu-item routerLink="/home/profile">
    <mat-icon>person</mat-icon>
    Profile
  </button>
</mat-menu>
