<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="primeroFormGroup">
    <ng-template matStepLabel>Arte</ng-template>
    <div
      class="imagen"
      style="
        background-image: url(../../../assets/img/La\ noche\ estrellada.jpg);
      "
    ></div>
    <div>
      <!-- Contenido de Arte -->
     
      <mat-card class="temas">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>14/7/2022</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content>
          <img mat-card-md-image src="../../../../assets/img/aventura2.jpg" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
            repellendus aut perspiciatis. Placeat repudiandae sunt porro
            exercitationem? Deleniti, iste impedit reiciendis doloribus beatae
            distinctio ipsam iure hic inventore, exercitationem cum? Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Amet earum
            cupiditate deserunt praesentium ut cumque iusto est, aut optio
            placeat, dicta, laborum delectus inventore explicabo! Tenetur
            tempora deleniti est nemo?
          </p>

          <div class="botones">
            <button mat-icon-button color="primary">
              <mat-icon>favorite_border</mat-icon>
              Like
            </button>

            <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Comentarios </mat-panel-title>
                </mat-expansion-panel-header>
                <!--*************"" COMENTARIOS******************** -->
                <mat-card *ngFor="let comentario of com" class="comentario">
                  <mat-card-subtitle>Autor</mat-card-subtitle>
                  <mat-card-content>
                    <p>{{ comentario.mensaje }}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button                
                    mat-icon-button
                    color="warn"
                    (click)="borrarComentario(comentario)"
                    >
                    <mat-icon>
                      delete
                    </mat-icon>
                  </button>
                  </mat-card-actions>
                 
                </mat-card>

                <form (submit)="agregarComentarios(comentario)">
                  <div class="agregar">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Comentario" #comentario required/>
                    </mat-form-field>
                    <button
                      type="submit"
                      class="btn-add"
                      mat-raised-button
                      color="primary"
                      >
                      Agregar
                    </button>
                  </div>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>

  <mat-step [stepControl]="segundoFormGroup">
    <ng-template matStepLabel>Aventura</ng-template>

    <div
      class="imagen"
      style="background-image: url(../../../assets/img/aventura2.jpg)"
    ></div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="terceroFormGroup">
    <ng-template matStepLabel>Belleza</ng-template>
    <div
      class="imagen"
      style="background-image: url(../../../assets/img/belleza2.jpg)"
    ></div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="cuartoFormGroup">
    <ng-template matStepLabel>Comida</ng-template>
    <div
      class="imagen"
      style="background-image: url(../../../assets/img/comida2.jpg)"
    ></div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="quintoFormGroup">
    <ng-template matStepLabel>Naturaleza</ng-template>

    <div
      class="imagen"
      style="background-image: url(../../../assets/img/naturaleza2.png)"
    ></div>

    <div>
      <button mat-button matStepperPrevious>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-button matStepperNext>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-step>
</mat-stepper>
