.example-card {
  max-width: 400px;
  display: inline-block;
  margin: 2% 2%;

}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
.publicaciones{
  display: inline-block;
}